:root {
    --main-font-size: 16px;
    --header-line-spacing: calc(var(--main-font-size) * 1);
    --header-gap: calc(var(--main-font-size) * 0.25);
}

.pos .pos-receipt-container > div,
.tobako-pos-receipt {
    font-family: 'Inconsolata' !important;
    font-size: var(--main-font-size) !important;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    padding-bottom: calc(var(--main-font-size) * 2) !important;
}

/* Spacers */
.tobako-pos-receipt__spacing--margin-header { height: var(--main-font-size); }
.tobako-pos-receipt__spacing--header-orderlines { height: calc(var(--main-font-size) * 1); }
.tobako-pos-receipt__spacing--total-payments { height: calc(var(--main-font-size) * 1); }
.tobako-pos-receipt__spacing--payments-change { height: calc(var(--main-font-size) * 0.5); }
.tobako-pos-receipt__spacing--before-footer { height: calc(var(--main-font-size) * 1.5); }

/* Hiders */
.tobako-pos-receipt__hide { display: none; }

/* Headers */
.tobako-pos-receipt__store-name {
    font-weight: bold;
    text-align: center;
}

.tobako-pos-receipt__header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: var(--header-gap);
    padding-right: var(--main-font-size);
    padding-left: var(--main-font-size);
}

.tobako-pos-receipt__header__datetime {
    font-weight: normal;
    font-size: calc(var(--main-font-size) * 0.8);
}

.tobako-pos-receipt__header__contacts {
    white-space: pre-line;
    line-height: var(--header-line-spacing);
}

/* Orderlines */
.tobako-pos-receipt__orderlines {
    display: flex;
    flex-direction: column;
    gap: calc(var(--main-font-size) / 2);
}

.tobako-pos-receipt__orderlines__line {
    display: flex;
    flex-direction: column;
}

.tobako-pos-receipt__line__product__details {
    display: grid;
    grid-template-columns: calc(var(--main-font-size) / 2) 4fr 4fr auto 5fr;
    grid-template-areas: "s qty price eq total";
}

.tobako-pos-receipt__line__product__details--common {
    padding-left: calc(var(--main-font-size) / 2);
}

.tobako-pos-receipt__product__details__qty { grid-area: qty; }
.tobako-pos-receipt__product__details__price { grid-area: price; display: grid; align-content: end; }
.tobako-pos-receipt__product__details__eq { grid-area: eq; display: grid; place-content: end; }
.tobako-pos-receipt__product__details__total { grid-area: total; display: grid; place-content: end; }

.tobako-pos-receipt__line__product__customer-note {
    font-size: calc(var(--main-font-size) * 0.8);
}

.tobako-pos-receipt__text--copy {
    font-size: calc(var(--main-font-size) * 2);
    font-weight: bold;
}

/* Total */
.tobako-pos-receipt__align-right {
    display: flex;
    justify-content: flex-end;
}

.tobako-pos-receipt__total {
    display: flex;
    padding-left: calc(var(--main-font-size) * 2);
    font-size: calc(var(--main-font-size) * 1.5);
}

.tobako-pos-receipt__total__amount {
    margin-left: auto;
}

/* Payment Lines */
.tobako-pos-receipt__payment-lines {
    display: flex;
    flex-direction: column;
}

.tobako-pos-receipt__payment-lines__line {  
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: calc(var(--main-font-size) * 1.25);
}

/* Footer */

.tobako-pos-receipt__order-data {
    text-align: center;
}
