.pos .pos-receipt-container > div {
    display: grid;
    gap: 1rem;
    padding: 0;
}

.pos-receipt .pos-receipt-logo {
    width: 75%;
}

.pos-receipt .pos-receipt-contact > div {
    display: none;
}
.pos-receipt .pos-receipt-contact > div.cashier {
    display: block;
}
.pos-receipt .pos-receipt-contact > div.cashier > div {
    display: none;
}
.pos-receipt .pos-receipt-contact > div.cashier > div + div {
    display: block;
}

.pos .pos-receipt-container br {
    display: none;
}

.pos-receipt .pos-receipt-right-align {
    justify-self: flex-end;
}

.pos-receipt span.pos-receipt-right-align {
    margin-left: 0.5rem;
    overflow-wrap: anywhere;
    display: flex;
    flex: 1;
    place-content: flex-end;
    min-width: 100px;
}

.pos-receipt .pos-receipt-amount {
    margin-top: -1rem;
    padding-left: 3em;
}

.pos .orderlines {
    margin-bottom: -1rem;
}

.pos .orderlines .responsive-price {
    display: flex;
    margin-top: 10px;
}

.pos .orderlines .pos-receipt-left-padding {
    display: flex;
    flex-wrap: wrap;
}

.receipt-change + br + div,
.receipt-change + br + div + div,
.pos .pos-receipt .before-footer,
.pos .pos-receipt .after-footer {
    display: none;
}

.pos_config_form h2,
.pos_config_form .text-muted {
    display: none;
}