.pos__receipt--container > div {
    display: grid;
    gap: 1rem;
    margin: 20px;
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
}

img.pos__receipt--logo {
    display: block;
    width: 50%;
    align-self: center;
}